.navbar-nav { 
    margin-left: auto;
}

.bg{
    background-color: white;
}

.textb{
    color: black !important;
}

.indexlogo {
    width: 100%;
    height: 4rem;
}

h1 {
    margin-top: 10rem;
    text-align: center;
}

h4 {
    text-align: center;
}

.bg-pic {
    object-fit: cover;
    width: 100%;
    height: 35rem;
    object-position: center 100%;
}

.card{
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: -5px;
    margin-right: -5px;
}

.card-img-top{
    width: 100%;
    height: 28rem;
    object-fit: cover;
    object-position: center;
}

.card-img-top:hover{
    opacity: 0.9;
    transition: 1s;
    cursor: pointer; 
}

.pic-text{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: 220%;

}

.pt-10{
    padding-top: 10rem;
}